---
import Default from '@astrojs/starlight/components/ContentPanel.astro';
const hidetitle = Astro.locals.starlightRoute.entry.data.hidetitle
const splash = Astro.locals.starlightRoute.entry.data.splash
---

{ hidetitle ? 
(<div class="content-panel">
	<div class="sl-container"><slot /></div>
</div>

<style>
	@layer starlight.core {
		.content-panel {
			padding: 0 var(--sl-content-pad-x);
		}
		.sl-container {
			max-width: 72rem;
		}
		.sl-container > :global(* + *) {
			margin-top: 0;
		}
		@media (min-width: 72rem) {
			.sl-container {
				margin-inline: var(--sl-content-margin-inline, auto);
			}
		}
	}
</style>)
: 
<Default {...Astro.props}>
  <slot />
</Default>
}
